{% extends "base.html" %}

{% block titulo %} Productos {% endblock %}

{% block contenido %}

<div style="display: flex; justify-content: space-between;" >
    <h1 class="card-title">Productos en el inventario</h1>
    <a class="btn" role="button" href="{% url 'producto-nuevo' %}" >Agregar</a>
</div>

<div style="margin-top: 20px"></div>

<div class="overflow-x-auto w-full">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="tblProductos">
        <!-- row 1 -->
        
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </tfoot>
      
    </table>
  </div>

{% endblock %}
