{% extends "base.html" %}

{% block titulo %} Productos {% endblock %}

{% block contenido %}

<div style="display: flex; justify-content: space-between;" >
    <h1 class="card-title">Productos en el inventario</h1>
    <a class="btn" role="button" href="{% url 'producto-nuevo' %}" >Agregar</a>
</div>

<div style="margin-top: 20px"></div>

<div class="overflow-x-auto w-full">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr>
          <td>
              <div class="flex items-center space-x-3">
                  <div class="avatar">
                      <div class="mask mask-squircle w-12 h-12">
                          <img src="{{ producto.url_producto }}" alt="Avatar Tailwind CSS Component" />
                      </div>
                  </div>
                  <div>
                      <div class="font-bold">{{ producto.nombre }}</div>
                  </div>
              </div>
          </td>
          <td>
              <span class="badge badge-ghost badge-sm">{{ producto.tipo }}</span>
          </td>
          <td>{{ producto.cantidad }}</td>
          <td>{{ producto.precio }}</td>
          <th>
              <button
                  onclick=""
                  class="btn btn-ghost btn-xs">
                  eliminar
              </button>
          </th>
        </tr>
        {% endfor %}
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </tfoot>
      
    </table>
  </div>

{% endblock %}
